.list-left{
    border-radius: 20px;

position: absolute;

background-color: rgba(243, 231, 231, 0.8);;
padding: 10px;
top: 30%;
outline: black;
border-top: black;
}
body{

    background-image: linear-gradient(45deg,cyan,rgb(3, 101, 126));
}
img {
    opacity: 0.8;
  }
h1{
    text-align: center;
   font-size: 70px; 
size: 50px;
color: white;

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: #8AA6E6 3px 3px 0;
}
h2{
color: rgb(253, 250, 250);
text-shadow: rgb(0, 0, 0) 2px 2px 0;
}
.title{
    font-size: 100px;
    top: 1%;
    left: 40%;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white ;
    text-shadow: rgb(7, 57, 87) 5px 5px 1px;
}
video{

    position:absolute;
    left: 70%;
    top: 10%;
    opacity: 0.9;
}

h4{
    position:absolute;
    left: 73%;
    top: 30%;
    font-size: 40px;
    color: white;
    text-shadow: rgb(5, 17, 87) 4px 4px 0;

}
.redes{

    position:absolute;
    top: 89%;
}
.list-midle{

    border-radius: 20px;

position: absolute;

background-color: rgba(243, 231, 231, 0.8);;
padding: 50px;
top: 100%;
left: 40%;
outline: black;
border-top: black;
}
.list-right{

    border-radius: 50px;

    position: absolute;
    
    background-color: rgba(243, 231, 231, 0.8);;
    padding: 05px;
    top: 100%;
    
    outline: black;
    border-top: black;
    
}
.trab{
   
    left: 73%;
    top: 20%;
    font-size: 40px;
    color: white;
    text-shadow: rgb(5, 17, 87) 4px 4px 0;
}